
@{
    ViewBag.Title = "NotFound";
}

<h2>NotFound</h2>
<br />
<hgroup>
    <h1>Erro404.</h1>
    <h2>A pagina que você esta tentando acessar  nao foi encontrada.</h2>
</hgroup>
<p style="aling:center">
    <img src="~/Content/Image/image1.png"
</p>

